<h1>Heroku Mini Hack</h1>
<ul>
  <li>画面に"Salesforce.com + <お好きな言葉> = Like!" と表示されるように、プログラムを修正してください。</li>
  <li>Herokuコマンドを利用してHerokuに新しいアプリを作成し、Gitを利用してソースコードをデプロイしてください。</li>
  <li>ブラウザを起動して作成したアプリにアクセスしてください。</li>
</ul>
<p>
Heroku <%=link_to 'DevCenter', 'https://devcenter.heroku.com' %>
</p>
